# Mainsail Settings
[include mainsail.cfg]

[exclude_object]

#Other Settings

# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.
[include macros.cfg]
# See docs/Config_Reference.md for a description of parameters.

[bltouch]
sensor_pin: ^PC14
control_pin: PA1
x_offset: -44
y_offset: 7
#z_offset: 0
#speed:

#[filament_motion_sensor btt_smartie]
#detection_length: 10
#extruder: extruder
#switch_pin: !PC15
#runout_gcode: FILAMENT_RUNOUT

[screws_tilt_adjust]
screw1: 70.5,37.5
screw1_name: front left screw
screw2: 235,37.5
screw2_name: front right screw
screw3: 235,207.5
screw3_name: rear right screw
screw4: 70.5,207.5
screw4_name: rear left screw
horizontal_move_z: 10
speed: 120
screw_thread: CW-M4

[safe_z_home]
home_xy_position: 115,115 # Change coordinates to the center of your print bed
speed: 120
z_hop: 10                 # Move up 10mm
z_hop_speed: 5

[bed_mesh]
speed: 120
horizontal_move_z: 10
mesh_min: 15, 30
mesh_max: 190, 190
probe_count: 5, 5
mesh_pps: 2, 3
algorithm: bicubic



[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 250
homing_speed: 100

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
#hold_current: 0.500
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_max: 230
homing_speed: 100

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
#hold_current: 0.500
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
#position_endstop: 0.0
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -5

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
#hold_current: 0.500
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 22.43
nozzle_diameter: 0.400
filament_diameter: 1.750
gear_ratio: 4:1
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 250
#max_extrude_only_velocity: 120
#max_extrude_only_accel: 1500
#pressure_advance: .634
max_extrude_cross_section: 5


[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
#hold_current: 0.500
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 110

[fan]
pin: PB15

[controller_fan my_controller_fan]
pin: PC7

[heater_fan heatbreak_cooling_fan]
pin: PC6
heater: extruder
heater_temp: 50.0
fan_speed: 1

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_310009001750344D30363620-if00
# serial: /dev/ttyAMA0
# restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.658
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 18.608
#*# pid_ki = 0.678
#*# pid_kd = 127.698
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.952
#*# pid_ki = 1.208
#*# pid_kd = 1012.552
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.192500, 0.112500, 0.152500, 0.165000, 0.160000
#*# 	  0.072500, 0.057500, 0.052500, 0.075000, 0.057500
#*# 	  0.097500, 0.032500, 0.000000, 0.032500, 0.027500
#*# 	  0.122500, 0.010000, 0.062500, 0.055000, 0.055000
#*# 	  0.125000, 0.067500, 0.095000, 0.085000, 0.065000
#*# tension = 0.2
#*# min_x = 15.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 3
#*# min_y = 30.0
#*# x_count = 5
#*# max_y = 190.0
#*# mesh_x_pps = 2
#*# max_x = 190.0
